<widget
    xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.elizabeth.farmsoundsgame"
    versionCode = "10"
    version     = "1.0.0" >
    
    
    <name>Farm Sounds</name>
    
    <description>
        A game for the blind and visually impaired children
    </description>
    
    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Elizabeth Peddell
    </author>
    
    <preference name='target-device' value='handset' />
    
    <icon src='images/PNGs/background.png'gap:platform='ios'width='57' height='57' />
    <icon src='images/PNGs/background.png'gap:platform='ios'width='72' height='72' />
    <icon src='images/PNGs/background.png'gap:platform='ios'width='114' height='114' />
    
    <icon src='images/PNGs/background.png'gap:platform='android'gap:density='ldpi' />
    <icon src='images/PNGs/background.png'gap:platform='android'gap:density='mdpi' />
    <icon src='images/PNGs/background.png'gap:platform='android'gap:density='hdpi' />
    <icon src='images/PNGs/background.png'gap:platform='android'gap:density='xhdpi' />
    
    <gap:splash src='images/PNGs/background.png'gap:platform='ios'width='640' height='1136' />
    <gap:splash src='images/PNGs/background.png'gap:platform='ios'width='750' height='1334' />
    <gap:splash src='images/PNGs/background.png'gap:platform='ios'width='1080' height='1920' />
    
    <gap:splash src='images/PNGs/background.png'gap:platform='android'gap:density='ldpi' />
    <gap:splash src='images/PNGs/background.png'gap:platform='android'gap:density='mdpi' />
    <gap:splash src='images/PNGs/background.png'gap:platform='android'gap:density='hdpi' />
    <gap:splash src='images/PNGs/background.png'gap:platform='android'gap:density='xhdpi' />
    
</widget>
